/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

/* Container */
.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.panel-admin {
  font-size: 1.2rem;
}

.user-info {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 10px;
}

.logout-button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-button:hover {
  background-color: #777;
  transform: translateY(-2px);
}
/*Login Form*/
.login-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10%;
}
/* Main Content */
.main-content {
  display: flex;
  flex: 1;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-list {
  list-style: none;
}

.sidebar-item {
  margin-bottom: 10px;
}

.sidebar-link {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.sidebar-link:hover {
  color: #555;
}

/* Content */
.content {
  flex-grow: 1;
  padding: 20px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-open {
  display: block;
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 4px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Inputs */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Buttons */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Columnas ordenables */
th {
  cursor: pointer;
  position: relative;
}

th::after {
  content: '';
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: 5px solid transparent;
}

th.sort-asc::after {
  border-bottom-color: #000;
}

th.sort-desc::after {
  border-top-color: #000;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 16px;
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
}

.notification-show {
  opacity: 1;
}

.notification-success {
  background-color: #4caf50; /* Verde */
}

.notification-error {
  background-color: #f44336; /* Rojo */
}

.error-message {
  color: #e74c3c; /* Rojo para mayor énfasis */
  background-color: #f2dede; /* Fondo rojo claro */
  border: 1px solid #e74c3c; /* Borde rojo */
  padding: 10px; /* Espaciado interno */
  margin-bottom: 15px; /* Espaciado inferior */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 14px; /* Tamaño de fuente */
  font-weight: bold; /* Texto en negrita */
  text-align: center; /* Alineación centrada */
}

.image-upload {
  margin-bottom: 20px;
}

.image-upload input[type="file"] {
  display: block;
  margin-bottom: 10px;
}

.image-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  width: auto;
  height: auto;
  cursor: pointer;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.image-container button:hover {
  background-color: rgba(255, 0, 0, 1);
}

.right {
  text-align: right;
  float: right;
}

/* Estilos para las pestañas */
.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tabs button {
  color: #333;
  flex: 1;
  padding: 10px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-bottom: none;
  outline: none;
}

.tabs button.active {
  background-color: white;
  border-bottom: 2px solid #007bff;
}

.tab-content {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: white;
}

/* Filtros */
.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.filter-group {
  flex: 1;
  min-width: 200px;
}

.filter-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.filter-group input,
.filter-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filter-group input:focus,
.filter-group select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* PedidoDetalle Specific Styles */
.pedido-detalle-container {
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.pedido-detalle-header {
  text-align: center;
  margin-bottom: 20px;
}

.pedido-detalle-header h2 {
  font-size: 24px;
  color: #333;
}

/* Table */
.pedido-detalle-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.pedido-detalle-table th,
.pedido-detalle-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.pedido-detalle-table th {
  background-color: #f4f4f4;
}

.pedido-detalle-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.print-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
}

.print-button:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    box-shadow: none;
    margin-bottom: 20px;
  }

  .content {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 10px;
  }

  .user-info {
    justify-content: space-between;
    width: 100%;
  }

  .logout-button {
    padding: 5px;
    width: 100%;
  }

  .pagination button {
    padding: 0.25rem 0.5rem;
  }
}

/* Logo Styles */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.logo-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.logo-container .btn {
  background-color: #777;
}

.file-input {
  margin-bottom: 10px;
}

.logo-image {
  margin-top: 10px;
  max-width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #333;
  padding: 20px;
}

/* Banners Styles */
.banners-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.banners-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.banners-container .btn {
  background-color: #777;
}

.banners-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.banner-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.banner-image {
  max-width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn-delete {
  background-color: #dc3545 !important;
}

.btn-delete:hover {
  background-color: #c82333;
}
/* Chart Styles */

.chart-header h2 {
  font-size: 20px;
  color: #333;
}
.metrics-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charts-grid {
  display: inline-block;
  margin-top: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.chart-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  height: 300px; /* Establecer una altura fija para hacerlos más cuadrados */
}

.chart-header {
  margin-bottom: 10px;
}

.product-ranking {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

.product-ranking h2 {
  margin-bottom: 10px;
}

.product-ranking ol {
  padding-left: 20px;
}